In [2]:
import sys
sys.path.append('..')

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import MultipleLocator
import seaborn as sns

from sentiment import sentiment_vader
from imdb_api.imdbscraper import ImdbScraper

from scipy import stats

### Trailers

In [3]:
file_list = ['hbo', 'amazon', 'netflix', 'disney']
dfs = []
for file in file_list:
    df = pd.read_csv('../data/' + file + '.csv')
    df['network'] = file
    dfs.append(df)

cols = ['channelId', 'network', 'videoId', 'videoTitle', 'publishTime']
trailers = pd.concat(dfs)[cols]

### Comments and sentiment

In [4]:
file_list = ['hbo_comments', 'amazon_comments', 'netflix_comments', 'disney_comments']
dfs = []
for file in file_list:
    df = pd.read_csv('../comments/' + file + '.csv')
    dfs.append(df)

comments = pd.concat(dfs)
cols = ['videoId', 'commentId', 'textOriginal', 'likeCount', 'publishedAt']
comments = comments[cols]

### Mapping imdb and youtube

In [5]:
file_list = ['hbo', 'amazon', 'netflix', 'disney']
dfs = []
for file in file_list:
    df = pd.read_csv('../data/match/' + file + '_match.csv', delimiter=';')
    dfs.append(df)

match = pd.concat(dfs).dropna()

### IMDb

In [6]:
imdb = pd.read_csv('../imdb/title.basics.tsv', delimiter='\t')
ratings = pd.read_csv('../imdb/title.ratings.tsv', delimiter='\t')
imdb = imdb.merge(ratings, on='tconst')

C:\Users\marcu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### IMDb release dates

In [8]:
# scraper = ImdbScraper()
# scraper.scrape_dates(match.tconst, verbose=True, timeout=1)

..\imdb_api\imdbscraper.py:14: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 14 of the file ..\imdb_api\imdbscraper.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)

tt11609976
['26 November 2020']
tt11188206
['7 October 2021']
tt11540284
['24 November 2021']
tt11015214
['20 August 2020']
tt1924245
['17 September 2021']
tt1160419
['7 October 2021']
tt11188392
['9 July 2020']
tt13249596
['16 June 2022']
tt5034838
['31 March 2021']
tt10653784
['8 July 2021']
tt7658402
['29 November 2019']
tt16116174
['1 January 2022']
tt11210146
['3 December 2020']
tt11198330
['21 August 2022']
tt10846464
['19 November 2020']
tt15141288
['25 August 2021']
tt9140342
['18 February 2021']
tt8594276
['14 June 2019']
tt10975574
['31 March 2022']
tt14128670
['10 February 2022']
tt9620288
['2 September 2021']
tt13061914
['14 January 2021']
tt13622290
['24 November 2022']
tt7808566
['17 March 2021']
tt11947418
['17 March 2022']
tt12585076
['31 March 2022']
tt11525644
['18 June 2021']
tt11394650
['25 January 2020']
tt11000902
['3 March 2022']
tt13146488
['13 January 2022']
tt10569810
tt13075042
['28 July 2022']
tt9170108
['3 September 2020']
tt3272066
['17 August 2021']
tt22748100
['12 November 2022']
tt3554046
['12 July 2021']
tt7660850
['22 May 2018']
tt12545180
['30 September 2021']
tt6723592
['3 September 2020']
tt12762460
['6 May 2021']
tt11847410
['17 March 2021']
tt7569576
['18 November 2020']
tt10016180
['29 January 2021']
tt8110232
['22 September 2021']
tt10838180
['18 December 2021']
tt8310612
['24 January 2019']
tt14630348
['16 June 2021']
tt11650736
['29 July 2021']
tt11212276
['18 November 2021']
tt11324406
['5 May 2022']
tt11847842
['3 March 2022']
tt15286764
['30 September 2021']
tt0805647
['22 October 2020']
tt8368380
['11 February 2021']
tt14812994
['22 July 2021']
tt2887954
['7 April 2022']
tt8036272
['3 May 2019']
tt6075088
['5 November 2020']
tt11945774
['15 April 2021']
tt10244600
['6 March 2022']
tt12361974
['18 March 2021']
tt17220704
['17 November 2022']
tt11165358
['25 June 2020']
tt15766708
['4 November 2021']
tt12408026
tt15179396
['18 September 2021']
tt12929230
['20 August 2020']
tt15590294
['11 March 2022']
tt12736220
['22 October 2020']
tt6994156
['9 July 2020']
tt8416494
['15 February 2019']
tt11173138
['22 October 2020']
tt15078488
['19 August 2021']
tt22033610
['14 October 2022']
tt18332840
['3 March 2022']
tt14599306
['28 October 2022']
tt7945066
['26 January 2019']
tt12861470
['17 December 2020']
tt18950688
['21 April 2022']
tt10773194
['1 October 2021']
tt15588224
['13 January 2022']
tt13142526
['14 April 2022']
tt12539222
['26 October 2021']
tt12708500
['27 August 2020']
tt21849434
tt14379784
['28 October 2022']
tt13070038
['7 September 2022']
tt6654210
['10 June 2021']
tt13069986
['30 September 2021']
tt7631058
['1 September 2022']
tt10541088
['10 June 2021']
tt13009160
['30 September 2022']
tt10228134
['23 July 2021']
tt11044858
['13 October 2020']
tt1190634
['26 July 2019']
tt2180339
['18 March 2022']
tt13139228
['9 October 2022']
tt7886936
['16 October 2020']
tt8303474
['25 September 2020']
tt9288030
['4 February 2022']
tt3758814
['25 June 2021']
tt11302324
tt12298506
['6 October 2020']
tt7737786
['18 December 2020']
tt10641510
tt3706352
['8 April 2022']
tt9243804
['30 July 2021']
tt13356646
['21 May 2021']
tt7492014
['29 October 2021']
tt14376098
['9 June 2022']
tt7638348
['11 February 2020']
tt10662040
['16 August 2019']
tt7945440
['6 October 2020']
tt6628364
['9 June 2017']
tt12530128
['21 January 2022']
tt9354944
['11 October 2019']
tt10155932
['3 September 2021']
tt7985540
['27 July 2018']
tt5788792
['17 March 2017']
tt11181824
['27 April 2022']
tt16350094
['4 March 2022']
tt7826376
['1 May 2020']
tt0499097
['30 April 2021']
tt13143964
['23 October 2020']
tt6902676
['19 September 2019']
tt10344410
['28 May 2021']
tt6462958
['11 February 2022']
tt6462958
['11 February 2022']
tt11743610
['1 July 2022']
tt6704972
['14 May 2021']
tt11771006
['24 September 2021']
tt6741278
['26 March 2021']
tt6112414
tt10333426
['5 February 2021']
tt8759834
['27 January 2019']
tt6599482
['12 October 2018']
tt16246416
['17 December 2021']
tt9484998
['26 January 2020']
tt6722926
tt12882620
['13 October 2020']
tt3833480
['3 July 2020']
tt10612922
['11 October 2020']
tt14734228
['17 December 2021']
tt9742794
['26 March 2021']
tt8169088
['1 June 2018']
tt10948294
['28 January 2021']
tt8760932
['18 August 2021']
tt6802400
['5 March 2021']
tt15385930
['8 October 2021']
tt14016500
['17 June 2022']
tt11347692
tt3502262
['6 February 2014']
tt14524842
tt10937180
['15 October 2021']
tt7720790
['14 September 2018']
tt3496824
['6 February 2014']
tt1024810
tt5843876
['21 August 2020']
tt15076878
['5 November 2021']
tt4761112
['12 February 2021']
tt6682754
['19 August 2016']
tt4193072
['8 May 2020']
tt8242084
['26 June 2020']
tt14264844
['21 May 2021']
tt9206562
tt10442360
['17 January 2020']
tt3502172
['6 February 2014']
tt9064858
['18 March 2021']
tt0489974
['30 August 2019']
tt12262116
['29 July 2022']
tt8303474
['25 September 2020']
tt8089592
['18 March 2020']
tt10689614
['18 December 2020']
tt8089592
['18 March 2020']
tt12800524
['3 September 2021']
tt8635092
['12 June 2021']
tt9207700
['7 August 2020']
tt10623646
['29 July 2022']
tt10954364
['20 September 2019']
tt9170224
['2 August 2019']
tt8431322
['29 October 2021']
tt14203072
tt13103876
['2 October 2020']
tt6474236
['13 February 2018']
tt4878612
['5 November 2015']
tt9735758
['8 March 2019']
tt5462886
['17 March 2017']
tt7462410
['19 November 2021']
tt6461824
['19 March 2018']
tt7907922
['30 October 2020']
tt9777666
['2 July 2021']
tt8962394
['27 March 2020']
tt9848626
['14 January 2022']
tt4354616
['30 September 2016']
tt15766576
['5 November 2021']
tt9184820
['6 August 2020']
tt19848956
['18 May 2022']
tt10543784
['19 July 2019']
tt4143508
['23 January 2017']
tt8450534
['22 February 2019']
tt5834198
['4 August 2017']
tt13105806
tt11225428
['29 November 2019']
tt5478730
['19 August 2016']
tt10362466
['23 October 2020']
tt11235772
['10 September 2021']
tt14679942
['24 September 2021']
tt16232892
['25 March 2022']
tt6160448
['30 September 2022']
tt11564570
['6 October 2022']
tt16030542
['16 December 2022']
tt22890438
['22 November 2022']
tt1016150
['7 October 2022']
tt1488589
['29 October 2022']
tt13320662
['11 November 2022']
tt21816824
['2 September 2022']
tt9288822
['2 September 2022']
tt16124614
['3 November 2022']
tt23181168
['22 November 2022']
tt13443470
['16 November 2022']
tt1751634
['5 August 2022']
tt14641788
['28 October 2022']
tt11252254
['21 October 2022']
tt21929356
['26 September 2022']
tt15390524
['26 August 2022']
tt12590266
['13 September 2022']
tt1649418
['13 July 2022']
tt13207736
['21 September 2022']
tt1655389
['16 September 2022']
tt2935622
['19 October 2022']
tt13327038
['16 September 2022']
tt13696452
['24 June 2022']
tt13649396
['28 October 2022']
tt22440764
['17 November 2022']
tt14270848
['26 October 2022']
tt8415836
['25 October 2022']
tt14502728
['8 September 2022']
tt21822078
['7 October 2022']
tt18563148
['27 April 2022']
tt23022276
['17 November 2022']
tt14954498
['19 August 2022']
tt7991608
['5 November 2021']
tt13024674
['29 October 2021']
tt10231312
['22 October 2021']
tt10293406
['4 September 2021']
tt21059520
['6 July 2022']
tt13873302
['2 March 2022']
tt21819228
['14 November 2022']
tt14117010
['28 July 2022']
tt4595186
['30 September 2022']
tt13978306
['13 January 2022']
tt21945344
['17 September 2022']
tt11755740
['18 February 2022']
tt23556972
['7 December 2022']
tt13456318
['15 July 2022']
tt22872838
['9 November 2022']
tt14152756
['24 March 2021']
tt9894516
['21 October 2022']
tt12383460
['27 October 2021']
tt13720112
['29 September 2022']
tt22746676
['20 October 2022']
tt14174940
['3 June 2022']
tt21217912
['2 August 2022']
tt15824322
['17 November 2022']
tt14592064
['28 January 2022']
tt4181158
['6 July 2022']
tt13271734
['24 August 2022']
tt11286314
['5 December 2021']
tt12680684
['3 September 2021']
tt13007592
['24 November 2022']
tt19704638
['11 May 2022']
tt10611608
['18 February 2022']
tt1267295
['19 November 2021']
tt14866710
['28 June 2022']
tt13696452
['24 June 2022']
tt15215512
['19 May 2022']
tt8740790
['25 December 2020']
tt16428640
['25 January 2022']
tt5563324
['22 September 2021']
tt7909970
['13 September 2019']
tt13655328
['6 September 2022']
tt22437050
['28 October 2022']
tt6708668
['18 March 2022']

tt21379574
['24 August 2022']
tt15494864
['27 January 2022']
tt14315756
['2 December 2021']
tt10795658
['10 December 2020']
tt20560404
['8 June 2022']
tt11126994
['6 November 2021']
tt19637852
['8 June 2022']
tt14278524
['16 September 2022']
tt21867596
['14 September 2022']
tt11464826
['26 January 2020']
tt21811526
['6 September 2022']
tt21839470
['7 September 2022']
tt22227040
['21 October 2022']
tt21031054
['9 December 2022']
tt14817272
['3 March 2022']
tt15083184
['31 August 2022']
tt11278476
['17 March 2022']
tt20449034
tt14589904
['15 July 2022']
tt14992922
['2 February 2022']
tt4729430
['8 November 2019']
tt1536537
['18 August 2017']
tt14664414
['1 July 2021']
tt9421570
['24 September 2021']
tt13056008
['29 September 2021']
tt22988228
['16 November 2022']
tt9196192
['23 January 2020']
tt11897478
['19 October 2022']
tt14715170
['10 November 2022']
tt14300912
['3 September 2021']
tt22771372
['10 November 2022']
tt10731768
['20 August 2021']
tt12312250
['27 May 2020']
tt7985576
['2 April 2021']
tt11570202
['24 December 2021']
tt13064634
['5 November 2021']
tt22900124
['5 November 2022']
tt15479902
['30 March 2022']
tt22071840
['27 October 2022']
tt15548032
['8 July 2022']
tt18970124
['20 April 2022']
tt8580274
['26 June 2020']
tt13956560
['14 February 2022']
tt7737528
['10 September 2021']
tt6566576
['28 June 2021']
tt12585152
['10 July 2020']
tt8726102
['22 September 2022']
tt6338498
['30 July 2021']
tt21870580
['27 September 2022']
tt18783984
['14 July 2022']
tt5181830
['18 October 2022']
tt12809988
['4 June 2021']
tt15463032
['1 September 2022']
tt8106534
['10 December 2019']
tt4574334
['11 July 2016']
tt23553310
['29 November 2022']
tt8508734
['27 January 2020']
tt3860916
['19 April 2018']
tt7671598
['1 January 2020']
tt0800325
['18 March 2019']
tt4733624
['18 June 2021']
tt5541240
['22 January 2017']
tt6679794
['9 November 2018']
tt10451914
['15 January 2021']
tt12877640
['14 July 2021']
tt11161474
['30 December 2020']
tt19398068
['5 May 2022']
tt18299058
['22 March 2022']
tt10062292
['27 April 2020']
tt6744044
['27 April 2018']
tt22807484
['11 November 2022']
tt6656238
['4 May 2018']
tt14035242
['18 September 2021']
tt11199410
['19 November 2020']
tt14465894
['25 February 2022']
tt5315210
['23 September 2022']
tt5421602
['12 May 2017']
tt11742798
['2 September 2021']
tt10752004
['5 November 2021']
tt15096728
['5 October 2022']
tt15213258
['23 June 2022']
tt15614372
['17 November 2021']
tt3174376
['5 January 2018']
tt9866072
['28 October 2020']
tt2582576
['21 April 2017']
tt14463542
['10 June 2022']
tt12783454
['11 August 2021']
tt10345590
['9 July 2021']
tt7736496
['13 November 2020']
tt12590266
['13 September 2022']
tt11388278
['26 March 2021']
tt9419834
['18 July 2019']
tt15764684
['2 September 2022']
tt7957694
['3 May 2019']
tt2990140
['22 November 2018']
tt17677744
['20 December 2022']
tt3447590
['9 December 2022']
tt10060094
['21 November 2019']
tt3758814
['25 June 2021']
tt14494944
['2 November 2022']
tt7846844
['23 September 2020']
tt22646714
['2 November 2022']
tt0112159
['20 August 1997']
tt11388406
['27 January 2020']
tt22297722
['8 December 2022']
tt21837726
['7 October 2022']
tt18082726
['23 November 2022']
tt9619798
['13 May 2020']
tt16283666
['18 December 2021']
tt10919420
['17 September 2021']
tt14506528
['6 May 2022']
tt13640670
['24 June 2022']
tt14920160
['26 October 2022']
tt21946032
['7 October 2022']
tt1312171
['15 February 2019']
tt5315212
['13 May 2022']
tt18450548
['11 November 2022']
tt8740976
['11 February 2022']
tt14169960
['28 January 2022']
tt11364112
['11 June 2022']
tt12996154
['27 April 2022']
tt9203694
['22 April 2021']
tt9561862
['15 March 2019']
tt14463484
['4 February 2022']
tt15445056
['23 September 2022']
tt22029066
['20 November 2022']
tt13943546
['3 September 2022']
tt12580982
['14 December 2022']
tt17047510
['16 November 2022']
tt12286434
['13 October 2021']
tt18970038
tt10160886
['13 May 2022']
tt18302114
['13 April 2022']
tt11178402
['19 March 2022']
tt15094392
['3 September 2021']
tt22697176
['13 November 2022']
tt18069908
['8 September 2022']
tt8484160
['27 November 2020']
tt11875316
['25 June 2021']
tt11226258
['29 January 2021']
tt6473066
['9 October 2020']
tt11852810
['11 May 2022']
tt14446288
['9 November 2022']
tt0084827
['9 July 1982']
tt22028876
['18 November 2022']
tt15566204
['8 September 2022']
tt17048514
['22 April 2022']
tt0094737
['3 June 1988']
tt12225230
['8 September 2021']
tt8610082
['7 July 2021']
tt11097576
['18 December 2020']
tt11238096
['16 April 2021']
tt11547014
['21 July 2021']
tt22028912
['25 November 2022']
tt7939768
['26 March 2021']
tt14301252
['15 July 2022']
tt11871764
['23 February 2022']
tt18269838
['25 March 2022']
tt11176048
['4 September 2020']
tt13302848
['13 November 2020']
tt0078869
['20 December 1979']
tt13574490
tt13984924
['2 September 2021']
tt15428794
['6 October 2021']
tt21272676
['18 November 2022']
tt22010428
tt19867058
['24 June 2022']
tt0103584
['31 October 1992']
tt14949574
['27 June 2021']
tt6539830
['23 September 2018']
tt13089270
['18 November 2020']
tt16378028
['21 January 2022']
tt11146690
['12 June 2021']
tt21348558
['19 October 2022']
tt0072951
['21 March 1975']
tt12105232
['15 May 2020']
tt0065566
['17 December 1969']
tt12076020
['10 April 2020']
tt0077305
['9 June 1978']
tt0064603
['24 December 1968']
tt12944764
['18 September 2020']
tt0075200
['17 December 1976']
tt10516496
['28 July 2021']
tt21199644
['30 June 2022']
tt9695266
['17 January 2020']
tt12579042
['12 August 2019']
tt7759016
['12 November 2019']
tt16022750
['12 November 2021']
tt10225108
['28 February 2020']
tt22028886
['2 December 2022']
tt14598810
['28 July 2021']
tt14465474
['28 May 2021']

In [10]:
# release_dates = pd.DataFrame(scraper.data)
# release_dates['releaseDateUS'] = pd.to_datetime(release_dates.release_date_us)

In [11]:
# release_dates.to_csv('release_dates.csv', index=False)

In [12]:
release_dates = pd.read_csv('../data/release_dates/release_dates.csv')
cols = ['id', 'release_date_us']
release_dates = release_dates[cols]
release_dates = release_dates.rename(columns={'id':'tconst'})

### Annotations

In [13]:
annot = pd.read_csv('../comments/annotated.csv')
annot = annot[['commentId', 'sentiment', 'annotator']]

In [14]:
annot_agg = annot.groupby('commentId').agg(
    sentimentLabel=('sentiment', stats.mode)
).reset_index()

annot_agg.sentimentLabel = annot_agg.sentimentLabel.str[0].str[0]

sentiment_map = {'Positive': 1, 'Neutral': 0, 'Negative': -1}
annot_agg['sentimentScore'] = annot_agg.sentimentLabel.map(sentiment_map)

### The big join

In [15]:
df = trailers.merge(comments, on='videoId')
df = df.merge(match, on='videoId')
df = df.merge(imdb, on='tconst')
df = df.merge(release_dates, on='tconst', how='left')
df = df.merge(annot_agg, on='commentId', how='left')

In [16]:
df.to_csv('dataset_no_sentiment.csv', index=False)

### Add sentiment

In [ ]:
df['sentimentPredictedRaw'] = df.textOriginal.astype(str).apply(sentiment_vader)

In [33]:
sentiment_map = {'Positive': 1, 'Neutral': 0, 'Negative': -1}
df['sentimentPredictedScore'] = df.sentimentPredictedRaw.str[-1].map(sentiment_map)

In [38]:
df.to_csv('final_data.csv', index=False)